.trendSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.navIcons > svg{
    font-size: 25px;
}
.navIcons > a > svg{
    font-size: 25px;
}